.home-marker {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

.home-marker::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #fff;
}
