.App {
  text-align: center;
}

.thumbnail {
  height: 160px;
  width: auto;
}

.list-background {
  height: 40vh;
  background-color: #343a40;
}

.list-table {
  height: 40vh;
  overflow: auto;
}

.distance {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

td img { vertical-align: top; }
